body{
  font-family: "Nunito", sans-serif
}


.help{
  color: brown;
  background: -webkit-linear-gradient(#247B7B,#3B247B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  
}

.required:after{
content: "*";
color: red;
font-weight: 600;
}


.switch{
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #3B247B;
  transition: .4s;
  border-radius: 30px;
}

.slider:before{
  position:absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #3B247B;
  transition: .4s;
}
input:checked + .slider{
background-color: #3B247B;
border: 1px solid #3B247B;
}
input:focus + .slider{
box-shadow:  0 0 1px #3B247B;
  }
  input:checked + .slider:before{
   transform: translateX(1.4em);
   background-color: #fff;
    }

    .table {
      border-collapse: collapse;
      
     
    }
    table thead tr {
      background-color: #247B7B;
   
      font-weight: bold;
    }
    
    .table th, .table td {
      padding: 12px 15px;
      border: 1px solid #ddd;
    }
    
    .table tbody tr {
      border-bottom: 1px solid #ddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #247B7B;
    }
    
    .table tbody tr:hover {
      background-color: #f1f1f1;
    }
    
    .active-status {
      color: green;
      font-weight: bold;
    }
    
    .inactive-status {
      color: red;
      font-weight: bold;
    }
    
/* table responsiveness */
  

.table-container {
  overflow-x: auto; 
  max-width: 100%; 
}

.table {
  width: 100%; 
  border-collapse: collapse; 
}

th, td {
  padding: 10px; 
  text-align: center; 
  border: 1px solid #ddd; 
}

/* For mobile view */
@media (max-width: 768px) {
  table {
      display: block; 
      overflow-x: auto; 
      white-space: nowrap; 
  }

  thead {
      display: none; 
  }

  tr {
      display: flex; 
      flex-direction: column; 
      margin-bottom: 1em;
  }

  td {
      display: flex;
      justify-content: space-between;
      padding: 0.5em;
      border: none;
      border-bottom: 1px solid #ddd;
  }
}
